* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

p {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none !important;
  margin-bottom: 0 !important;
}
ul li {
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

select,
input,
button,
textarea:focus {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

.text-left {
  text-align: left !important;
}

.flex_wrap {
  flex-wrap: wrap;
}

.scrollbtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000000 !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.scrollbtn a i {
  color: #ffffff !important;
}

.show {
  opacity: 1;
  z-index: 1;
  transition: all 0.5s;
}

.navbar {
  background-color: #d3d3d3;
  padding: 20px 10px;
}

.navbar-brand {
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.2em;
  font-family: Cairo;
  font-weight: 600;
  padding: 15px;
  transition: all 0.3s;
  border-radius: 10px;
}
.nav-link:hover {
  background-color: #808080;
  color: #ffffff !important;
}

.fixed-top {
  background-color: #0077b5 !important;
}

.menu {
  display: none !important;
}

.hero {
  padding: 100px 0;
}

.hero-img {
  border: 3px solid #000000;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  transform: rotate(45deg);
  padding: 20px !important;
  margin: 0 auto;
  background-color: #d3d3d3;
}
.hero-img .image {
  background-image: url(../../public/imgs/hero.webp);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  width: 350px !important;
  height: 350px !important;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: rotate(-45deg);
  margin: -48px;
}

.hero-social .social-title {
  text-align: left;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-family: Cairo;
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
  -webkit-text-decoration-color: #000000;
          text-decoration-color: #000000;
  text-decoration-thickness: 3px;
}
.hero-social .list-unstyled {
  display: flex;
  margin-top: 30px;
  border-radius: 15px;
}
.hero-social .list-unstyled li {
  margin-left: 20px;
  padding: 15px;
  border-radius: 10px;
}
.hero-social .list-unstyled li .btn {
  padding: 0;
}
.hero-social .list-unstyled li .btn i {
  font-size: 3em;
  color: #ffffff;
}
.hero-social .list-unstyled li:first-child {
  margin-left: 0;
}
.hero-social .list-unstyled .facebook {
  background-color: #3b5998;
}
.hero-social .list-unstyled .github {
  background-color: #24292e;
}
.hero-social .list-unstyled .linkedin {
  background-color: #0077b5;
}
.hero-social .list-unstyled .whatsapp {
  background-color: #25d366;
}

.services,
.skills {
  padding: 50px 0;
  background-color: #a9a9a9;
}

.section-title {
  color: #ffffff;
  font-family: Cairo;
}

.service-item {
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  border: 2px solid #000000;
  margin-top: 20px;
}
.service-item:hover {
  background-color: #d3d3d3;
  transform: translateY(-10px);
  border: none;
  box-shadow: 0 0 30px #000000;
}

.portfolio,
.contact {
  padding: 50px 0;
}

.portfolio-content {
  text-align: center;
}

.nav-pills .nav-item {
  margin-left: 20px;
}
.nav-pills .nav-item:first-child {
  margin-left: 0;
}
.nav-pills .nav-item:active {
  background-color: #0d6efd;
}
.nav-pills .nav-item .nav-link {
  color: #ffffff !important;
  padding: 10px;
  background-color: #24292e;
}
.nav-pills .nav-item .nav-link:hover {
  background-color: #0d6efd;
}

.contact-content-title {
  margin-bottom: 30px;
}
.contact-content-title h2 {
  font-family: Cairo;
  font-weight: 700;
  font-size: 2.5em;
  color: #000000;
}

.contact-img {
  text-align: center;
}
.contact-img img {
  height: 500px !important;
}

.contact-form form .input-container {
  text-align: center;
}
.contact-form form .form-group {
  margin-bottom: 20px;
}
.contact-form form .form-group input[type=number] {
  border-radius: 10px;
}
.contact-form form .form-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
.contact-form form .form-group input,
.contact-form form .form-group textarea {
  border-radius: 0 !important;
  transform: skewX(-20deg);
}
.contact-form form .form-group textarea {
  height: 200px;
  font-size: 1.5em;
  font-weight: 500;
}
.contact-form form button {
  border-radius: 0 !important;
  transform: skewX(-20deg);
  width: 100%;
  margin: 0 auto;
}

footer {
  background-color: #808080;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #d3d3d3;
}
footer .footer-content {
  justify-content: center !important;
  align-items: center !important;
}
footer .footer-content .copyright {
  padding-right: 10px;
}
footer .footer-content .copyright span:first-child {
  padding-right: 10px;
}
footer .footer-content a {
  padding-left: 10px;
  color: #ffffff;
  font-family: Cairo;
}
footer .footer-content a i {
  padding-right: 5px;
}/*# sourceMappingURL=main.css.map */